body{
    text-align: center;
    font-family: "Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";;
    font-size: 1.25rem;
}

h1{
    font-size: 7rem;
}
h2{
    font-size: 2.5rem;
}

.jumbotron{
    padding: 5% 15%;
    margin: 5% 10%;
    border-radius: 30px;
    background-color: #3F979B;
    color: white;
}

.explanation{
    text-align: left;
    padding: 2% 5%;
    border: 2px solid #3F979B;
    margin:  5% 10%;
}
.explanation h2{
    text-align: center;
}


.btn{
    padding: 10px 50px;
    background-color: white;
    color: FEFF86;
}

.btn:hover{
    background-color: wheat;
}

#btn{
    padding-top: 30px;

}
.input{
    text-align: left;
}
.result{
    height: 15rem;
    font-size: 1.5rem;
}
#footer{
    color: black;
    font-size: 1rem;
    margin-bottom: 20px;
}
.red{
    color: red;
} 
@media (max-width: 1028px) {
    .explanation{
        text-align: center;
    }
    h1{
        font-size: 4rem;
    }
    .result{
        min-height: 10rem;
    }
}
@media (max-width: 960px) {
    h1{
        font-size: 3.2rem;
    }
}
